*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* overflow-y: hidden; */
}
/* .nav{
    height:90px
} */
.wrapper{
    /* background-color: rgb(71, 211, 28); */
    height:100vh;
    display: flex;
    flex-direction: column;
}
.nav{
    margin-top: 100px;
/* background-color: aqua; */
height:7%;
width:100vw;
}
/* Api section */
.Text-api{
    text-align: center;
}
.api-containers{
    margin-top: 50px;
}
.Searchbar{
    margin-top: 20px;
}
.Text-api h1{
    font-size:80px ;
    color: chocolate;
}
.Text-api p{
    font-size:30px;
    color:chocolate;
}

.api-list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Review Card styling */
.Review-cards{
  margin-top: 50px;
}
.Review-cards h2{
    text-align: center;
    margin-bottom: 20px;
}
.footer{
    width:100vw;
    margin-top: 50px;
    height:250px;
    background-color: black;
    /* overflow-y: hidden; */
}
/* Define the keyframes for the animation */
@keyframes colorChange {
    0% {
      color: black; /* Starting color */
    }
    50% {
      color: chocolate; /* Middle color */
    }
    100% {
      color: cadetblue; /* Ending color */
    }
  }
  
  /* Apply the animation to the span element */
  span {
    animation: colorChange 3s infinite; /* Animation name, duration, and iteration */
  }
  
  .Review-cards h2{
    color:chocolate;
    text-decoration: underline;
  }

/* .container{
     height: 10%;
     background-color: azure;
} */

@media only screen and (max-width: 600px) {
    .Review-list-ctn {
         display: flex;
         flex-direction: row;
    }
  }