.wrapper-page{
  background-color: rgb(36, 204, 210);
}

.Recipe-Cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Recipe-Cards {
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .Recipe-Cards div {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  